button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: aqua;
    color:white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: coral;
}